<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBJ43VGmtUjv8bTpUqF9lnVzebKB3KNZA</string>
	<key>GCM_SENDER_ID</key>
	<string>57081871029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cohenadair.colortap</string>
	<key>PROJECT_ID</key>
	<string>tapd-game</string>
	<key>STORAGE_BUCKET</key>
	<string>tapd-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57081871029:ios:33fc9ffc13bd140f499cfc</string>
</dict>
</plist>